---
import { formatDate } from '@/utils/data.util';
import Section from './Section.astro';
import Tags from './Tags.astro';
import PinnedBadge from './PinnedBadge.astro';

interface Props {
	title: string;
	author: string;
	tags: string[];
	minutesRead: string;
	pubDate: string;
	isPinned?: boolean;
	img: {
		src: string;
		alt: string;
	};
}

const { title, pubDate, tags, minutesRead, img, isPinned = false } = Astro.props;

const formattedDate = formatDate(pubDate);
---

<Section>
	<div class="flex flex-col items-center">
		<div class="relative px-14 pt-6 pb-4 text-center">
			{isPinned && <PinnedBadge size="md" class="absolute top-6 left-10 -translate-y-1/2" />}
			<p class="text-4xl font-bold">{title}</p>
		</div>
		<div class="pb-4">
			<Tags tags={tags} withHref={true} />
		</div>
		<div class="text-sm">
			<span>{formattedDate}</span> - <span>{minutesRead}</span>
		</div>

		{img.src ? <img src={img.src} alt={img.alt} /> : null}
	</div>
</Section>
